<% layout('layouts/boilerplate') %>
<div class="cover-container p-3 mx-auto mt-5 mb-auto">
	<h1 class="lgText pb-1 pt-3 d-none d-sm-block">Under Construction!</h1>
	<h1 class="lgMobileText pb-1 pt-3 d-block d-sm-none">Under Construction!</h1>
	<h5 class="smText pb-3">Your interest in <span class="mdText">Slider Piler</span> is much appreciated. Please check back later and feel free to send an email to <a class="spBtnEmail mdBtn" href="mailto:trev@superklok.com">trev@superklok.com</a> if you have any questions about this project.</h5>
</div>